@import url('https://fonts.googleapis.com/css2?family=Paytone+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:wght@200&display=swap');

table {
    width: 100%;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}

table table {
    width: 100%;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}

td {
    text-align: center;
    padding: 0px;
    margin: 0px;
    width: 33%;
    /* border: 1px solid black; */
}

img {
    width: 100%;
    height: 100%; 
    object-fit: contain;
    display: block;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

p {
    font-family: "Roboto Flex";
    font-size: 1.3em;
}

.pcell {
    padding: 30px;
}

.innertable {
    border: 1px solid black;
    border-top-left-radius: 10px;
}

.arttext {
    background-color: rgb(191, 255, 149);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding-left: 50px;
    padding-right: 50px;
}

a:link {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

a:visited {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

a:hover {
    color: rgb(211, 100, 252);
    text-decoration: none;
}

a:active {
    color: rgb(0, 0, 0);
    text-decoration: none;
}