/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@import url('https://fonts.googleapis.com/css2?family=Paytone+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Carter+One&display=swap');

@media (min-aspect-ratio: 1/1) {
    body {
        background-color: rgb(71, 123, 255);
    }

    table {
        table-layout: fixed;
        border-collapse: collapse;
        width: 400px;
        display: block;
    }

    td {
        text-align: center;
        padding: 0px;
        margin: 0px;
        width: 100%;
        border-collapse: collapse;
        height: 200px;
    }

    #maintitle {
        font-family: "Carter One";
        font-size: 5em;
        color: rgb(240, 255, 77);
        text-align: center;
        text-shadow: 5px 5px 10px black;
        padding-bottom: 0px;
        margin-bottom: 0px;
    }
    
    #tagline {
        font-family: "Roboto Flex";
        font-size: 1em;
        text-align: center;
        color: rgb(255, 255, 255);
        margin-bottom: 50px;
        text-shadow: 0px 0px 6px rgb(237, 255, 72);
    }
}

@media (max-aspect-ratio: 999/1000) {
    body {
        background-color: rgb(71, 123, 255);
    }
    
    table {
        table-layout: fixed;
        border-collapse: collapse;
        width: 70vw;
        display: block;
    }

    td {
        text-align: center;
        padding: 0px;
        margin: 0px;
        width: 100%;
        border-collapse: collapse;
        height: 35vw;
    }

    #maintitle {
        font-family: "Carter One";
        font-size: 12vw;
        color: rgb(240, 255, 77);
        text-align: center;
        text-shadow: 5px 5px 10px black;
        padding-bottom: 0px;
        margin-bottom: 0px;
    }
    
    #tagline {
        font-family: "Roboto Flex";
        font-size: 1em;
        text-align: center;
        color: rgb(255, 255, 255);
        margin-bottom: 50px;
        text-shadow: 0px 0px 6px rgb(237, 255, 72);
    }
}

img {
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
    object-fit: contain;
    display: block;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    -webkit-box-shadow: 0px 0px 15px rgb(0, 0, 0);
    box-shadow: 0px 0px 15px rgb(0, 0, 0);
}

p {
    font-family: "Roboto Flex";
    font-size: 1.3em;
    text-align: left;
}

.flexcont {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 60px;
    margin-top: 100px;
    margin-bottom: 100px;
}

h2 {
    font-family: "Paytone One";
    text-align: left;
}

.arttext {
    background-color: rgb(252, 255, 174);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding-left: 40px;
    padding-right: 40px;
    -webkit-box-shadow: 0px 0px 15px rgb(0, 0, 0);
    box-shadow: 0px 0px 15px rgb(0, 0, 0);
    height: 250px;
}

a:link {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

a:visited {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

a:hover {
    color: rgb(255, 56, 56);
    text-decoration: none;
}

a:active {
    color: rgb(0, 0, 0);
    text-decoration: none;
}